extends layout

block content
    p#date
    div#clock
        p#hours.unit
        p#minutes.unit
        p#seconds.unit
        p#ampm.unit

        div#clock-alarm
            p#alarm-text Next Alarm 7:25am weekdays
            a#alarm-set(href='/alarm') Set Alarms


block append scripts
    script(src='/javascripts/clock.js')
