@import 'https://fonts.googleapis.com/css?family=Open+Sans';

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Open Sans", sas-serif;
  background: radial-gradient(#eee, #668);
  height: 100vh;
  width: 100vw;
}
#date{
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 2em;
  padding: 0.5em;
  text-align: center;
}
#clock{
  align-items: center;
  -webkit-align-items: center;
  display: flex;
  display: -webkit-flex;
  height: 130px;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  left: calc(50% - 300px);
  position: absolute;
  top: calc(50% - 65px);
  width: 700px;
}
.unit{
  background: linear-gradient(#aaa, #777);
  border-radius: 15px;
  box-shadow: 0 2px 2px #444;
  color: #fff;
  font-size: 5em;
  height: 100%;
  line-height: 130px;
  margin: 0 10px;
  text-align: center;
  text-shadow: 0 2px 2px #666;
  width: 30%;
}
#set-alarm{
  padding: 10px;
  font-size: 1em;
  width: 100%;
}
#alarm-form{
  align-items: center;
  -webkit-align-items: center;
  height: 130px;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  left: calc(50% - 300px);
  position: absolute;
  top: calc(50% - 65px);
  width: 700px;
}
#alarm-weekdays{
  display: block;
  margin: 20px;
}
#alarm-weekdays > p {
  display: inline;
  margin-right: 10px;
}